
.threeimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.threeimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgblock {
    margin: 20px;
}

.Rblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    padding: 30px;
    align-items: center;
}

.Rtext {
    max-width: 50%;
    padding: 2vw;
    margin: auto;
}

.Rtext h3 {
    padding-bottom: 30px;
}

.Rimg{
    max-width: 40%;
    margin: auto;
}



@media (max-width: 800px) {

    .headerLogo {
            display: none;
        }

    .Rblock {
        flex-direction: column;
        padding: 5px;
    }

    .Rtext {
        max-width: 100%;
        padding: 10px;
    }

    .Rtext h3 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .Rimg {
        max-width: 60%;
        margin: auto;
    }

    .threeimg {
        flex-direction: column;
        margin: 0;
    }
}

