
.header {
  margin: 40px 119px;
  align-items: center;
  text-align: center;
  max-width: 1100px;
  margin: auto;
  padding: 10px; 
}

.header h2 {
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

.HLink:hover {
  color: orangered;
}


.grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .header{
    padding: 3.5px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .header h1{
    font-size: 2rem;
  }
  .header h2{
    font-size: .95rem;
    padding:0px;
  }


}