.companies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 90%;
    margin: auto;
    padding: 30px;
}



.section {
    max-width: 90%;
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button {
    background-color: #003283;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


@media (max-width: 600px) {
    .companies{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            max-width: 90%;
            margin: auto;
            padding: 30px;
    }

    .buttons {
        align-items: center;
    }
}